
:root {
    --emerald: #636363;
    --emerald-dark: #000000;
}

body { 
    background-color: #ffffff; 
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar { 
    background-color: var(--emerald) !important; 
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.btn-success-custom { 
    background-color: var(--emerald) !important; 
    border: none !important; 
    color: white !important;
    transition: 0.3s;
    border-radius: 0 !important; 
}
.btn-success-custom:hover { 
    background-color: var(--emerald-dark) !important; 
}
.card, .shadow-sm, .btn, .form-control { 
    box-shadow: none !important; 
    border-radius: 0 !important;
}
.form-control {
    border: 1px solid var(--emerald) !important;
}
.footer-custom {
    background-color: #0a1120; 
}
.footer-custom h3, .footer-custom h5 {
    color: #ffffff;
}
.text-secondary {
    color: #a0a0a0 !important;
}
.footer-custom a:hover {
    color: #0a0a0a !important; 
    transition: 0.3s;
}
.bg-kontak {
    background-image: url('../img/9.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
} 

.bg-about {
    background-image: url('../img/11.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
} 
.bg-service {
    background-image: url('../img/10.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
} 